
.boxed-view {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;

}


.boxed-view__box {
  background: -webkit-linear-gradient(top, rgb(253, 126, 109) 0%, rgba(253, 126, 109, 0.91) 8%, rgba(212, 63, 119, 0.86) 42%, rgba(106, 42, 178, 0.93) 86%, rgba(106, 42, 178, 0.82) 100%), url(images/image1.jpg);
  background-repeat: no-repeat;
  background-size: 700px 500px;
  color: white;
  padding: 2.4rem;
  text-align: center;
  height: 500px;
  width: 400px;
}
.formHeader{
  margin:30px;
}
.chatAppHeader{
  font-weight: 560;
  font-size: 2.4rem;
  margin-top: 27px;
}

.inputLoginFormStyles{
  text-align: center;
  color: #ffffff ;
  background-color: #fff0 !important;
  background-clip: padding-box !important;
  border: 1px solid #ffffff96 !important;
}

#myInput::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff82;


}

.glyphicon{
  color:#ffffff59;
}


.glyphicon-lock:before{
  padding: 10px;
  position: absolute;
  top: -5%;
}

.glyphicon-user:before{
  padding: 10px;
  position: absolute;
  top: -5%;
}

.glyphicon-envelope:before{
  padding: 10px;
  position: absolute;
  top: -5%;
}

.demoAppWords{
  color: $lightpeach;
  font-style: italic;
  font-size: 11px;
}


#myInput		{
  color:white;
  width: 65%;
  -webkit-transition:width 0.3s ease-in-out;
}
#myInput:focus	{
  box-shadow: 0 0 10px #fd7e6d;
  color:white;
  width:80%;
  -webkit-transition:width 0.5s ease-in-out;
}


//************************************************************ TABS STYLING *********************************************************
.react-tabs__tab-list {
    border-bottom: 1px solid #ffa500;
    margin: 0 0 10px;
    padding: 0;
}

.react-tabs__tab--selected {
    color:white !important;
}


// .react-tabs__tab-list {
//   border-bottom: 1px solid #aaa;
//   margin: 0 0 10px;
//   padding: 0;
// }

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: $lightpeach;
      /* border-color: #aaa; */
      color: white !important;
}

.react-tabs__tab--disabled {
  color: black;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.submitLogin_register_button{
  color: #fff !important;
  background-color: #ffa500 !important;
  border-color: #ffffff !important;
}
