.button {
  background-color:$mediumColor;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding: 10px;
  text-transform: uppercase;

}

.header-logoutButton{
  background-color:$lightColor;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding: 10px;
  text-transform: uppercase;

}
