.header{
  background-color: $mediumColor;
  padding-bottom:40px;
  position: fixed;
  z-index: 999;
}
.header-subHeader{
  position: absolute;
  top:100%;
  left:0;
}

.header-title{
  font-size: 40px;
  color:white;
  @include smallestPhoneSizes{
font-size: 24px;
  }

  @include mediumSizedPhones{

  }

  @include tablets{

  }


  @include desktopView{

  }

}


.header-loggedInAs{
  color:white;
  margin: 2px;
  font-size:14px;

  @include smallestPhoneSizes{
      font-size: 3vw;
  }

  @include mediumSizedPhones{
  font-size: 2vw;
  }

  @include tablets{
font-size: 2vw;
  }


  @include desktopView{
  font-size:14px;
  }

}

.header_nav_toggle{

  cursor: pointer;
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 4%;
  left:3%;


  @include desktopView{
    display:none;
  }
}

.header-logoutButton{
      background-color:$lightColor;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 10px;
      padding: 10px;
      text-transform: uppercase;

      @include smallestPhoneSizes{
          display:none;
      }

      @include mediumSizedPhones{
          display:none;
      }

      @include tablets{
          display:none;
      }


}

.is-nav-open .page-content__sidebar-menu .header-logoutButton{
  background-color:$lightColor;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding: 10px;
  text-transform: uppercase;
  @include smallestPhoneSizes{
    display: block;
    width: 100%;

    top: 12%;
    z-index: 999;
  }

  @include mediumSizedPhones{
      display: block;
      width: 100%;

      top: 12%;
      z-index: 999;
  }

  @include tablets{
      display: block;
      width: 100%;

      top: 12%;
      z-index: 999;
  }


  @include desktopView{
      display: block;

  }


}


//if the nav is open when we expand to desktop mode, we change the isopen styles to suit desktop view
.is-nav-open .page-content__sidebar-menu{
      display: block;
      width: 100vw;
      position: absolute;
      top: 100%;
      left: -100vw;
      transition: left .3s ease;
      z-index: 1;
      padding: 30px;
      padding-bottom: 100px;
      color: white;
      background-color: #3700B3;
      left: 0;
    @include desktopView{
    display: none;

    }
}

.page-content__sidebar-menu{
      display: none;
}

//if there is the class is-nav-open present, style the sidebar, if is-nav-open never exist, the styles will never be applieds
.is-nav-open .page-content__sidebar{
    left:0;

}
