//************************************************* HOMEPAGE USERS TO CHAT WITH *************************************
.item-chat{
  margin: 10px;
  background-color: white;
  padding: 10px;
}

.tester{
  position: absolute;
  background-color: $lightColor;
  top: 100%;
  width: 100%;
  a{
    color: white;
  }
}

.item-chat:hover{
background-color: $mediumColor;
}

.item-chat-header{
  color: $mediumColor;
    font-size: 18px;
    font-weight: 600;
}

.item-chat-header:hover{
  background-color: $mediumColor;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.item-availableUsersHeading{
  font-size: 20px;
  font-weight: 600;
  font-family: cursive;
  padding: 10px;
}

//************************************************* CHAT COMPONENT *************************************
.item-sendChatMessage{
margin-top:5px;
}

.item-chatInputBox{
  width:95vw;
}

.item-sendMessageForm{
  border-bottom: 3px solid #6200ee;
  background-color: #dedede;
  padding-top: 10px;
}

.item-chatBox{
      background: white;
      min-width: 100px;
      padding: 6px;
      border-radius: 2px;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
      margin: 5px;

}


.item-chatActualMessage{
    font-family: cursive;
    padding: 5px;
}

.leftChatSide{
    background-color: $lightColor;
    color: white;
}

.rightChatSide{

}
.item-messagingWrapper{
  position: fixed;
  bottom: 0;
}

.item-messagingWrapperForMEssages{

      position: fixed;
      height: 67vh;
    overflow: scroll;
  @media only screen and (max-height: 514px) and (min-height: 400px)  {
      height:45vh;
    }
  @media only screen and (max-height: 570px) and (min-height: 515px)  {
    height: 50vh;
    }
    @media only screen and (max-height: 639px) and (min-height: 571px)  {
      height: 55vh;
      }
    @media only screen and (max-height: 699px) and (min-height: 640px)  {
      height: 60vh;
      }
      @media only screen and (max-height: 770px) and (min-height: 700px)  {
        height: 63vh;
        }

    // @media only screen and (max-height: 700px) and (min-height: 570px)  {
    //   height: 56vh;
    //   }
    //
    // @media only screen and (max-height: 860px) and (min-height: 730px)  {
    //   height: 65vh;
    //   }



}
.myCLassMEssages{
  position: absolute;
  top: 100%;
  height: 80vh;
  left:0;
}
